pyYAML==5.4.1

psycopg2==2.8.6
SQLAlchemy==1.4.14
PyJWT == 2.4.0

flask==2.3.2

flask-migrate==2.7.0
flask-script==2.0.6
flask-googlemaps==0.4.0
#git+https://github.com/flask-extensions/Flask-GoogleMaps.git@4.1.1.2#egg=flask_googlemaps
