{% extends "base.jinja2" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center ">
        <div class="col-7 align-self-center">
            Даний сервіс відображає інформацію по наявних ямах на дорозі
        </div>
    </div>
    </div>
{% endblock %}