{% extends "base.jinja2" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ map.js }}
{% endblock %}

{% block body %}

    {{ map.html }}
{% endblock %}